




        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbarPedro" style="position: fixed; width: 100%; z-index:100 ;">
            <a class="navbar-brand" href="#"><img src="assets/img/logo_holos_tech_white_web.png" alt="" style="width: 50px; height: 50px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="position: absolute; left: 40%;">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
  
                <li class="nav-item">
                  <a class="nav-link" routerLink="/user">CRUD TEST</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" routerLink="/mutant">Mutant TEST</a>
                </li>
  
              
  
  
                
  
  
  
  
              </ul>
  
            </div>
          </nav>
  
  
  
  